:root {
  --nav-background: 37, 36, 34; /* dark grey */
  --nav-link-color: 235, 94, 40; /* orange */
  --nav-foreground: white;
  --content-background: 245, 245, 220; /* beige */
  --highlight-info-background: 196, 196, 176; /* beige grey sort of*/

  --warning-bg-light: LightSalmon;
  --warning-bg-dark: tomato;
  --warning-font-color: FireBrick;

  --delete-highlights-button-bg1: #ccc5b9;
  --delete-highlights-button-bg2: #ada89e;

  --spoiler-main: rgb(245, 229, 164);

  --smallnav-background: rgba(var(--nav-background), 0.8);
  --smallnav-arrow: url("../images/arrow-up-white.png");
  --timespent-clock: url("../images/clock-white.png");
  --nav-list-icon: "✪ ";
  --footer-background: rgba(var(--nav-background), 0.3);
  --footer-foreground: rgb(var(--nav-background));
  --header-foreground: var(--nav-foreground);
  --header-main-box-color: rgba(var(--nav-background), 0.5);
  --header-highlight-box-color: rgba(var(--nav-link-color), 0.75);
  --header-border: var(--nav-foreground);
  --header-preview-box-color: rgba(var(--nav-link-color), 0.5);
  --content-list-icon: "✪ ";
  --content-hX-underline: rgba(var(--nav-background), 0.5);
  --content-hX-color: rgba(var(--nav-background), 0.5);
  --content-link-color: rgb(var(--nav-link-color));
  --content-table-bg-header: rgba(var(--nav-background), 0.75);
  --content-table-fg-header: var(--nav-foreground);
  --content-table-row-alt1: rgba(var(--nav-background), 0.15);
  --content-table-row-alt2: rgba(var(--nav-background), 0.05);
  --content-link-before-icon: "⇗ ";
  --content-summary: var(--warning-bg-dark);
  --content-details: var(--warning-font-color);
  --content-text-color: rgba(var(--nav-background), 0.75);
  --content-figcaption: rgba(var(--nav-background), 0.5);
  --highlight-color: rgba(var(--nav-link-color), 0.5);
  --popup-color: rgba(var(--nav-link-color), 0.75);
  --popup-shadow-color: rgba(var(--nav-link-color), 0.95);
  --popup-text-color: var(--nav-foreground);
  --highlight-info-text: rgb(var(--nav-background));
  --delete-highlights-button-border: rgb(var(--nav-background));
  --delete-highlights-button-text: rgb(var(--nav-background));
  --save-notes-button-bg1: var(--delete-highlights-button-bg1);
  --save-notes-button-bg2: var(--delete-highlights-button-bg2);
  --save-notes-button-border: rgb(var(--nav-background));
  --save-notes-button-text: rgb(var(--nav-background));
  --spoiler-text: rgba(var(--nav-background), 0.75);
  --debug-bg-light: rgba(var(--nav-background), 0.15);
  --debug-bg-dark: rgba(var(--nav-background), 0.5);
  --debug-font-color: rgb(var(--nav-background));
  --debug-side-font-color: rgb(var(--content-background));

  --optional-bg-light: rgba(var(--nav-link-color), 0.25);
  --optional-bg-dark: rgb(var(--nav-link-color));
  --optional-font-color: rgb(var(--nav-background));
  --optional-side-font-color: rgb(var(--content-background));

  --code-line-number-color: rgb(var(--highlight-info-background));

  --copy-code-background-color: rgb(var(--nav-link-color));
  --copy-code-font-color: rgb(var(--content-background));
}
