/* Cobalt light.
 * Starting point is the dracula theme.
 * Colors are borrowed from the cobalt theme.
 */

 .highlight .hll { background-color: #fd0 }
 .highlight  { background: #002240; color: #f8f8f2 }
 .highlight .c { color: #ffb054; font-style: italic } /* Comment */
 .highlight .err { color: #f8f8f2 } /* Error */
 .highlight .g { color: #f8f8f2 } /* Generic */
 .highlight .k { color: #ff628c } /* Keyword */
 .highlight .l { color: #f8f8f2 } /* Literal */
 .highlight .n { color: #f8f8f2 } /* Name */
 .highlight .o { color: #ff628c } /* Operator */
 .highlight .x { color: #f8f8f2 } /* Other */
 .highlight .p { color: #f8f8f2 } /* Punctuation */
 .highlight .ch { color: #ffb054;  font-style: italic  } /* Comment.Hashbang */
 .highlight .cm { color: #ffb054;  font-style: italic  } /* Comment.Multiline */
 .highlight .cp { color: #ff628c } /* Comment.Preproc */
 .highlight .cpf { color: #ffb054;  font-style: italic } /* Comment.PreprocFile */
 .highlight .c1 { color: #ffb054;  font-style: italic  } /* Comment.Single */
 .highlight .cs { color: #ffb054;  font-style: italic  } /* Comment.Special */
 .highlight .gd { color: #8b080b } /* Generic.Deleted */
 .highlight .ge { color: #f8f8f2; text-decoration: underline } /* Generic.Emph */
 .highlight .gr { color: #f8f8f2 } /* Generic.Error */
 .highlight .gh { color: #f8f8f2; font-weight: bold } /* Generic.Heading */
 .highlight .gi { color: #f8f8f2; font-weight: bold } /* Generic.Inserted */
 .highlight .go { color: #44475a } /* Generic.Output */
 .highlight .gp { color: #f8f8f2 } /* Generic.Prompt */
 .highlight .gs { color: #f8f8f2 } /* Generic.Strong */
 .highlight .gu { color: #f8f8f2; font-weight: bold } /* Generic.Subheading */
 .highlight .gt { color: #f8f8f2 } /* Generic.Traceback */
 .highlight .kc { color: #ff628c } /* Keyword.Constant */
 .highlight .kd { color: #08f; font-style: italic } /* Keyword.Declaration */
 .highlight .kn { color: #ff628c } /* Keyword.Namespace */
 .highlight .kp { color: #ff628c } /* Keyword.Pseudo */
 .highlight .kr { color: #ff628c } /* Keyword.Reserved */
 .highlight .kt { color: #08f } /* Keyword.Type */
 .highlight .ld { color: #f8f8f2 } /* Literal.Date */
 .highlight .m { color: #bd93f9 } /* Literal.Number */
 .highlight .s { color: #fd0 } /* Literal.String */
 .highlight .na { color: #50fa7b } /* Name.Attribute */
 .highlight .nb { color: #08f; font-style: italic } /* Name.Builtin */
 .highlight .nc { color: #50fa7b } /* Name.Class */
 .highlight .no { color: #f8f8f2 } /* Name.Constant */
 .highlight .nd { color: #f8f8f2 } /* Name.Decorator */
 .highlight .ni { color: #f8f8f2 } /* Name.Entity */
 .highlight .ne { color: #f8f8f2 } /* Name.Exception */
 .highlight .nf { color: #50fa7b } /* Name.Function */
 .highlight .nl { color: #08f; font-style: italic } /* Name.Label */
 .highlight .nn { color: #f8f8f2 } /* Name.Namespace */
 .highlight .nx { color: #f8f8f2 } /* Name.Other */
 .highlight .py { color: #f8f8f2 } /* Name.Property */
 .highlight .nt { color: #ff628c } /* Name.Tag */
 .highlight .nv { color: #08f; font-style: italic } /* Name.Variable */
 .highlight .ow { color: #ff628c } /* Operator.Word */
 .highlight .w { color: #f8f8f2 } /* Text.Whitespace */
 .highlight .mb { color: #bd93f9 } /* Literal.Number.Bin */
 .highlight .mf { color: #bd93f9 } /* Literal.Number.Float */
 .highlight .mh { color: #bd93f9 } /* Literal.Number.Hex */
 .highlight .mi { color: #bd93f9 } /* Literal.Number.Integer */
 .highlight .mo { color: #bd93f9 } /* Literal.Number.Oct */
 .highlight .sa { color: #fd0 } /* Literal.String.Affix */
 .highlight .sb { color: #fd0 } /* Literal.String.Backtick */
 .highlight .sc { color: #fd0 } /* Literal.String.Char */
 .highlight .dl { color: #fd0 } /* Literal.String.Delimiter */
 .highlight .sd { color: #fd0 } /* Literal.String.Doc */
 .highlight .s2 { color: #fd0 } /* Literal.String.Double */
 .highlight .se { color: #fd0 } /* Literal.String.Escape */
 .highlight .sh { color: #fd0 } /* Literal.String.Heredoc */
 .highlight .si { color: #fd0 } /* Literal.String.Interpol */
 .highlight .sx { color: #fd0 } /* Literal.String.Other */
 .highlight .sr { color: #fd0 } /* Literal.String.Regex */
 .highlight .s1 { color: #fd0 } /* Literal.String.Single */
 .highlight .ss { color: #fd0 } /* Literal.String.Symbol */
 .highlight .bp { color: #f8f8f2; font-style: italic } /* Name.Builtin.Pseudo */
 .highlight .fm { color: #50fa7b } /* Name.Function.Magic */
 .highlight .vc { color: #08f; font-style: italic } /* Name.Variable.Class */
 .highlight .vg { color: #08f; font-style: italic } /* Name.Variable.Global */
 .highlight .vi { color: #08f; font-style: italic } /* Name.Variable.Instance */
 .highlight .vm { color: #08f; font-style: italic } /* Name.Variable.Magic */
 .highlight .il { color: #bd93f9 } /* Literal.Number.Integer.Long */


 /*! GitHub: Cobalt */
:root {
    --ghd-code-background: #002240;
    --ghd-code-color: #fff;
  }
  .pl-c, .pl-c span { color: #08f !important; font-style: italic !important; } /* comment */
  .pl-c1 { color: #ff628c !important; } /* constant */
  .pl-e { color: #ffb054 !important; } /* entity */
  .pl-en { color: #ffb054 !important; } /* entity.name */
  .pl-ent { color: #fd0 !important; } /* entity.name.tag */
  .pl-k { color: #eb939a !important; } /* keyword */
  .pl-mb { color: #ff628c !important; font-weight: bold !important; } /* markup.bold */
  .pl-mdh { color: #ffb054 !important; } /* meta.diff.header */
  .pl-mdr { color: #ffb054 !important; } /* meta.diff.range */
  .pl-mh { color: #eb939a !important; } /* markup.heading */
  .pl-mh .pl-en { color: #eb939a !important; font-weight: bold !important; } /* markup.heading entity.name */
  .pl-mi { color: #ffb054 !important; font-style: italic !important; } /* markup.italic */
  .pl-ml { color: #ffb054 !important; } /* markup.list */
  .pl-mm { color: #ffb054 !important; } /* meta.module-reference */
  .pl-mo { color: #ffb054 !important; } /* meta.output */
  .pl-mp { color: #ffb054 !important; } /* meta.property-name */
  .pl-mq { color: #08f !important; } /* markup.quote */
  .pl-mr { color: #ffb054 !important; } /* meta.require */
  .pl-ms { color: #ffb054 !important; } /* meta.selector */
  .pl-pds { color: #3ad900 !important; } /* punctuation.definition.string */
  .pl-s { color: #3ad900 !important; } /* storage */
  .pl-s1 { color: #3ad900 !important; } /* string */
  .pl-s1 .pl-pse .pl-s2 { color: #3ad900 !important; } /* string punctuation.section.embedded source */
  .pl-s1 .pl-s2 { color: #ccc !important; } /* string source */
  .pl-s1 .pl-v { color: #3ad900 !important; } /* string variable */
  .pl-s3 { color: #ffb054 !important; } /* support */
  .pl-sc { color: #ffb054 !important; } /* support.class */
  .pl-smi { color: #ccc !important; } /* storage.modifier.import */
  .pl-smp { color: #ccc !important; } /* storage.modifier.package */
  .pl-sr { color: #80ffc2 !important; } /* string.regexp */
  .pl-sr .pl-cce { color: #eb939a !important; } /* constant.character.escape */
  .pl-sr .pl-sra { color: #80ffc2 !important; } /* string.regexp string.regexp.arbitrary-repetition */
  .pl-sr .pl-sre { color: #80ffc2 !important; } /* string.regexp source.ruby.embedded */
  .pl-src { color: #80ffc2 !important; } /* string.regexp.character-class */
  .pl-st { color: #ffb054 !important; } /* support.type */
  .pl-stj { color: #ccc !important; } /* storage.type.java */
  .pl-sv { color: #ff628c !important; } /* support.variable */
  .pl-v { color: #fd0 !important; } /* variable */
  .pl-vo { color: #ccc !important; } /* variable.other */
  .pl-vpf { color: #ccc !important; } /* variable.parameter.function */
  /* diff - example: https://gist.github.com/silverwind/904159f1e71e2e626375 */
  .pl-mi1 { color: #f8f8f8 !important; background: rgba(0,64,0,.5) !important; } /* markup.inserted */
  .pl-mdht { color: #f8f8f8 !important; background: rgba(0,64,0,.5) !important; } /* meta.diff.header.to-file */
  .pl-md, /* markup.deleted */
  .pl-mdhf { color: #f8f8f8 !important; background: #800f00 !important; } /* meta.diff.header.from-file */
  .pl-bu, /* invalid.broken, invalid.deprecated, invalid.unimplemented, message.error, brackethighlighter.unmatched, sublimelinter.mark.error */
  .pl-ii { color: #ff628c !important; background: #800f00 !important; } /* invalid.illegal */
  .pl-corl, .highlight .pl-corl span.x { color: #3ad900 !important; text-decoration: underline !important; } /* links */
  /* language tweaks */
  .highlight-source-js .pl-st { color: #ffee80 !important; } /* support.type */
  .highlight-source-css .pl-s3 { color: #80ffbb !important; } /* support */
  .highlight-text-html-basic .pl-ent { color: #9effff !important; } /* entity.name.tag */
  .pl-token.active, .pl-token:hover { background: #fff !important; color: #002240 !important; }
